.menu-div{
    background-color: aqua;
    position: fixed;
    top: 0;
}

#button-div{
    display:none;
    background-color: red;
}

#light-button{
    width: 6vw;
    height: 5vh;
    background-color: #070707;
    padding: 5px;
    border: 3px solid #13b6ff;
    color: #13b6ff;
}

#stop-button{
    width: 6vw;
    height: 5vh;
    background-color: #070707;
    padding: 5px;
    border: 3px solid #13b6ff;
    color: #13b6ff;
}

#menu-button{
    width: 6vw;
    height: 5vh;
    background-color: #070707;
    padding: 5px;
    border: 3px solid #13b6ff;
    color: #13b6ff; 
}